.content-404{
    padding: 115px 0 180px;
    text-align: center;
    background: $white;

    @include respond-to('mobile-sm'){
        padding: 50px 0 100px;
    }

    &__container{
        padding: 0 18.125% 0 11.666666666%;

        @include respond-to('desktop-m'){
            padding: 0 10%;
        }

        @include respond-to('desktop'){
            padding: 0 5%;
        }

        @include respond-to('mobile'){
            padding: 0 20px;
        }
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 69px;

        @include respond-to('desktop'){
            column-gap: 30px;
        }

        @include respond-to('mobile'){
            column-gap: 0;
            flex-direction: column;
            align-items: flex-start;
        }

        h1{
            font-size: 400px;
            font-weight: 500;
            line-height: 400px;
            letter-spacing: -8px;
            color: $black;
            margin: 0;

            @include respond-to('desktop'){
                font-size: 260px;
                line-height: 260px;
            }

            @include respond-to('tablet'){
                font-size: 220px;
                line-height: 220px;
            }

            @include respond-to('mobile'){
                font-size: 140px;
                line-height: 172px;
            }
        }
    }


}

.text-404{
    margin: 0;

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;

        p{
            margin-bottom: 30px;
            font-size: 58px;
            line-height: 75px;
            font-weight: 500;
            letter-spacing: -0.58px;
            color: $black;
            text-align: left;
            max-width: 560px;

            @include respond-to('tablet'){
                font-size: 42px;
                line-height: 54px;
            }

            @include respond-to('mobile'){
                max-width: unset;
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 20px;
            }
        }
    }
}
