.team-member{

    &__img{
        padding: 75px 0 0;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 215px, rgba(28,28,28,1) 215px, rgb(28, 28, 28) 100%);

        @include respond-to('mobile-sm'){
            padding: 20px 0 50px;
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 170px, rgba(28,28,28,1) 170px, rgb(28, 28, 28) 100%);
        }

    }

    &__image{
        width: 100%;
        height: 0;
        padding-bottom: 66.666666666%;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
        }
    }

}




