.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.21em;
    margin: 0 0 0.65em;
    font-family: $f_switzer;
    color: $black;
    text-align: left;
    font-weight: 500;
    font-size: 115px;
}
.h1,
h1 {
    font-size: 115px;
    line-height: 1.21em;
    margin: 0 0 60px;
    @include respond-to('desktop') {
        font-size: 100px;
    }
    @include respond-to('laptop') {
        font-size: 6vw;
    }
    @include respond-to('tablet') {
        font-size: 52px;
        margin: 0 0 30px;
    }
}
.h2,
h2 {
    font-size: 58px;
    line-height: 1.21em;
    margin: 0 0 60px;
    @include respond-to('desktop') {
        font-size: 42px;
    }
    @include respond-to('tablet') {
        font-size: 36px;
        margin: 0 0 30px;
    }
}

.h3,
h3 {
    font-size: 58px;
    line-height: 1.21em;
    @include respond-to('desktop') {
        font-size: 42px;
    }
    @include respond-to('tablet') {
        font-size: 36px;
    }
}

.h4,
h4 {
    font-size: 25px;
    line-height: 1.21em;
    @include respond-to('tablet') {
        font-size: 20px;
    }
}

.h5,
h5 {
    font-size: 25px;
    line-height: 1.21em;
    @include respond-to('tablet') {
        font-size: 20px;
    }
}
.h6,
h6 {
    font-size: 20px;
    line-height: 1.21em;
}
p{
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
    font-family: $f_switzer;
    color: $black;
    margin: 0;

    @include respond-to('mobile'){
        font-size: 20px;
        line-height: 32px;
    }
}

a {
    color: $dark-gray-bg;
    position: relative;
    text-decoration: none;
    display: inline-block;
    &:hover {
        &:after {
            -webkit-transform-origin: left;
            transform-origin: left;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            background-color: $gray;
        }
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -.275em;
        left: 0;
        right: 0;
        transition: -webkit-transform .75s cubic-bezier(.19,1,.22,1);
        transition: transform .75s cubic-bezier(.19,1,.22,1);
        transition: transform .75s cubic-bezier(.19,1,.22,1),-webkit-transform .75s cubic-bezier(.19,1,.22,1);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        border-bottom: 1px solid $black;
    }
}
