/**
 *  Colors
 */
$white: #fff;
$black: #000;
$gray: #848484;
$bg: #EFEFEF;
$bg_gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100px, rgba(239,239,239,1) 100px, rgba(239,239,239,1) 100%);
$bg_gradient_header: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 300px, rgba(239,239,239,1) 100px, rgba(239,239,239,1) 100%);
$light: #EFEFEF;
$bg-dark: #141414;
$dark-gray-bg: #1c1c1c;

/**
 *  Fonts
 */
$f_switzer:  'Switzer', sans-serif;
